@model Drette.Tender.Shared.Models.Inventory
@using Drette.Tender.Shared.Models
@{
    /**/

    ViewBag.Title = "Détail de l'inventaire";
}
@Html.Partial("_Message")
<h2 class="pad-top">Détail de l'inventaire</h2>

<div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Id)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Id
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Counted)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Counted
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Followed)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Followed
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.TotalCost)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.TotalCost
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.AverageCost)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.AverageCost
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.UnitQty)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.UnitQty
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.Label("Quantité par unité")
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Unit.Quantity
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.UnitMaxQty)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.UnitMaxQty
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.UnitMinQty)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.UnitMinQty
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.OrderMinQty)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.OrderMinQty
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Location)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Location
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.LocationPrecision)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.LocationPrecision
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.UserId)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.UserId
            </div>
        </div>


    </div>

    <div class="col-md-6">
        <div>
            @Html.LabelFor(m => m.Notes)
        </div>
        <div>
            @(!string.IsNullOrWhiteSpace(Model.Notes) ? Model.Notes : "N/A")
        </div>
    </div>

</div>


<div class="pad-top">

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-sm margin-right">
        <span class="glyphicon glyphicon-edit"></span> Modifier
    </a>



    <a href="@Url.Action("Index")" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-step-backward"></span> Retour
    </a>

</div>
