@model List<Drette.Tender.Shared.Models.Inventory>
@{
    ViewBag.Title = "Inventaires";
}
@Html.Partial("_Message")

<div class="pad-top">
    <h2>@ViewBag.Title</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Compté</th>
            <th>Suivi</th>
            <th>Min</th>
            <th>Max</th>
            <th>En inventaire</th>
            <th>Type d'unité</th>
            <th>Quantité/unité</th>
            <th>Emplacement</th>

            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventory in Model)
        {
        <tr>
            <td>@inventory.Id</td>
            <td>@inventory.Counted</td>
            <td>@inventory.Followed</td>
            <td>@inventory.UnitMinQty</td>
            <td>@inventory.UnitMaxQty</td>
            <td>@inventory.UnitQty</td>
            <td>@inventory.Unit.Name</td>
            <td>@inventory.UnitQtyByLot</td>
            <td>@inventory.Location</td>

            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Detail", new { id = inventory.Id })" class="btn btn-primary btn-xs margin-right">
                        <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                    </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
