@model Drette.Tender.ViewModels.InventoriesIndexViewModel
@using Drette.Tender.Shared.Models

@{
    ViewBag.Title = "Inventaires";
}
@Html.Partial("_Message")

<div class="pad-top">
    <h2>@ViewBag.Title</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Compté</th>
            <th>Suivi</th>
            <th>En inventaire</th>
            <th>Min</th>
            <th>Max</th>
            <th>Coût total</th>
            <th>Coût unitaire</th>
            <th>Type d'unité</th>
            <th>Qté./unité</th>
            <th>Emplacement</th>


            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventory in Model.Inventories)
        {
            <tr>
                <td>@inventory.Id</td>
                <td>@inventory.Counted</td>
                <td>@inventory.Followed</td>
                <td>@inventory.UnitQty</td>
                <td>@inventory.UnitMinQty</td>
                <td>@inventory.UnitMaxQty</td>
                <td>@inventory.TotalCost</td>
                <td>@inventory.AverageCost</td>
                <td>@inventory.Unit.Name</td>
                <td>@inventory.Unit.Quantity</td>
                <td>@inventory.Location</td>


                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = inventory.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
