@model Drette.Tender.Shared.Models.Product
    @using Drette.Tender.Shared.Models
@{
    /**/

    ViewBag.Title = "Détails du produit";
}
@Html.Partial("_Message")
<h2 class="pad-top">Détails du produit</h2>

<div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.InventoryId)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Inventory.Id
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Name
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.ProductCode)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.ProductCode
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Description
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.ProductTypeId)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.ProductType.Name
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.SupplierId)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Supplier.Name
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Inventory.AverageCost)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Inventory.AverageCost
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.Date)
            </div>
            <div class="col-xs-8 col-sm-8">
                @Model.Date
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4">
                @Html.LabelFor(m => m.User)
            </div>
            <div class="col-xs-8 col-sm-8">
                @User.Identity.Name
            </div>
        </div>


    </div>

    <div class="col-md-6">
        <div>
            @Html.LabelFor(m => m.Notes)
        </div>
        <div>
            @(!string.IsNullOrWhiteSpace(Model.Notes) ? Model.Notes : "N/A")
        </div>
    </div>

</div>


<div class="pad-top">

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info btn-sm margin-right">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>

    <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger btn-sm margin-right">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>

    <a href="@Url.Action("Index")" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-step-backward"></span> Back
    </a>

</div>
