@model List<Drette.Tender.Shared.Models.Product>
@{
    ViewBag.Title = "Products";
}
@Html.Partial("_Message")
<h2>@ViewBag.Title</h2>
<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Inventory
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Inventory Id</th>
            <th>Product Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.InventoryId</td>
                <td>@product.Name</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = product.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
