@model Drette.Tender.ViewModels.EntriesBaseViewModel
@using Drette.Tender.Shared.Models
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("The following errors were found:", new { @class = "alert alert-danger" })
    @Html.HiddenFor(m => m.Entry.UserId)

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Entry.Date, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Entry.Date, "{0:d}", new { @class = "form-control datepicker" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Entry.ItemId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Entry.ItemId,
                    Model.ItemsSelectList, "", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Entry.Price, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Entry.Price, new { @class = "form-control" })
            </div>

        </div>
 
        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    </div>
}
